/*
Tanush Ojha
Hw5 - CS290
5|7|2024
*/

/*------------------------------GENERAL CSS---------------------------------------------*/
body {
    background-color: azure;
    
    margin: 10px;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    zoom: 125%;
    background-color: #e0cfff; /* Replace with the desired background color */
}


.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    /*text-align: center;*/
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
#login {
    float: right;
    background-color:brown;
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}


/*-----------------------LOGIN PAGE CSS----------------------------------*/
.login_box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.login_form {
    background: white;
    padding: 2rem;
    width: 100%;
    max-width: 250px;
    text-align: center;
    border-radius: 8px; /* Rounded corners */
    box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.8); /* Subtle shadow */

}
#signinbox {
    font-size: 1rem;
    margin-bottom: 1rem;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
.logo {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: "Lucida Console", "Courier New", monospace;
}

form {
    display: flex;
    flex-direction: column;
}

.up {
    border: 2.5px solid #000000;
    border-radius: 4px;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.submitbutton {
    background: #050031; /* Dark button color */
    color: #e0cfff;
    border: none;
    padding: 0.2rem;
    border-radius: 2px;
    font-size: 0.75rem;
    cursor: pointer;
    margin-top: 1rem;
}